@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 1;
}
/* * {
  background-color: #f6f9fc;
} */

.container {
  margin: 100px auto;
  font-family: "Lato", sans-serif;
  width: 500px;
  text-align: center;
  background-color: #fff;
}

p {
  font-size: 20px;
}

.links {
  margin: 25px 0;
}

i {
  padding: 0 10px;
  color: rgb(1, 10, 129);
}

/* Mobile */
@media (max-width: 500px) {
  .container {
    width: 350px;
  }
}
