@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

:root {
    --gray-color: #141c3a; 
    --primary-color: #7510F7;
    
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--gray-color);
    line-height: 1.6;
    background-color: var(--light-color);
    height: 100%;
}

.container {
    max-width: 1200px;
    width: 98%;
    margin: 0 auto;
    overflow: auto;
    padding: 0;
  }

  /* Navbar */
  .navbar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 15px 25px;
  }

  .contact-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .contact-box svg {
      margin: 25px;
      color: #29335F;
      transition: 0.4s;
  }

  .contact-box .newsletter-link {
      margin: 25px;
      background-color: #29335F;
      color: #fff;
      padding: 10px 15px;
      font-weight: 600;
      text-decoration: none;
      border-radius: 5px;
      transition: 0.4s;
  }

  .contact-box .newsletter-link:hover {
      background-color: var(--primary-color);
  }
  
  .contact-box svg:hover {
      color: var(--primary-color);
  }

  /* Showcase */
  .showcase {
      margin: 100px auto;
      text-align: center;
  }

  .showcase h1 {
      font-size: 48px;
      margin-bottom: 25px;
  }

  .showcase p {
      font-size: 24px;
  }

  /* Intro */
  .intro {
      background-color: var(--primary-color);
      color: #fff;
      text-align: center;
      position: relative;
      z-index: 0;
      padding-bottom: 150px;
  }

  .intro-text {
     margin: 100px auto;
     max-width: 540px;
  }

  .intro-text h2 {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .intro-text p {
      font-size: 20px;
  }

/* Skills */
.skills {
    z-index: 1;
    margin-top: -200px;
}

.skills-box {
    background-color: #fff;
    height: 400px;
    z-index: 9999;
    position: relative;
    border-radius: 15px;
    margin: 50px 0;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #f2f2f2;
}

.skill-item {
    width: 300px;
    padding-top:50px;
    
}

.skill-item svg {
    color: var(--primary-color);
    margin-bottom: 25px;
}

.skill-item h2 {
    margin: 25px 0;
}

.skill-header-text {
    color: var(--primary-color);
    margin: 50px 0 25px 0;
}

/*  */