@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  background-color: #f6f9fc; 
}

.container {
  margin:auto;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 50px 0;
  width: 500px;
}
